#dashboard {
  padding-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr); /* standaard: desktop */
}

/* Kleinere laptops & grotere tablets */
@media screen and (max-width: 1200px) {
  #dashboard {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablets */
@media screen and (max-width: 900px) {
  #dashboard {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Smartphones */
@media screen and (max-width: 600px) {
  #dashboard {
    grid-template-columns: 1fr;
  }

  div {
    font-size: 18px;
    color: darkblue;
  }

  h1 {
    font-size: medium;
    text-align: center;
  }
}
